[Desktop Entry]
Encoding=UTF-8
Type=Service
ServiceTypes=PhononBackend
MimeType=audio/vorbis;audio/x-mp3;audio/x-wav;video/x-ogm
X-KDE-Library=phonon_xine
X-KDE-PhononBackendInfo-InterfaceVersion=1
X-KDE-PhononBackendInfo-Version=0.1
X-KDE-PhononBackendInfo-Website=http://multimedia.kde.org/
InitialPreference=1
Name=Xine
Comment=Phonon Xine backend
