[Desktop Entry]
Encoding=UTF-8
Exec=kcmshell kcm_phononxine
Icon=phonon
Type=Service
ServiceTypes=KCModule
DocPath=kcontrol/phononxine/index.html

X-KDE-Library=kcm_phononxine
X-KDE-FactoryName=kcm_phononxine
X-KDE-ParentComponents=phonon_xine

Name=Phonon Xine
Name[x-test]=xxPhonon Xinexx
Comment=Xine Backend Configuration
Comment[es]=Interfaz de configuración para Xine
Comment[sv]=Inställning av Xine-gränssnitt
Comment[x-test]=xxXine Backend Configurationxx
Keywords=Xine
Keywords[x-test]=xxXinexx
